/* line 5, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.order-details {
  float: left;
  min-width: 800px;
}

/* line 10, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.cart-items {
  margin: 1em 0;
  min-width: 800px;
}
/* line 13, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.cart-items tbody {
  border: 5px solid #9f5ecd;
}
/* line 16, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.cart-items img {
  float: left;
}
/* line 19, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.cart-items td {
  border-top: 1px solid #ddd;
  display: block;
}
/* line 22, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.cart-items td a {
  text-decoration: none;
}
/* line 27, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.cart-items td span.line_item_quantity {
  display: inline-block;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  height: 22px;
}
/* line 33, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.cart-items td span.line_item_quantity .minus, .cart-items td span.line_item_quantity .plus {
  display: inline-block;
  width: 22px;
  height: 22px;
  text-shadow: 1px 1px 0 #e3e3e3;
  color: #8f8f8f;
  font-size: 14px;
  background: #ffffff;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
/* line 46, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.cart-items td span.line_item_quantity .minus:hover, .cart-items td span.line_item_quantity .plus:hover {
  background: #e0e0e0;
  text-decoration: none;
}
/* line 50, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.cart-items td span.line_item_quantity input.quantity {
  text-align: right;
  width: 15px;
  font-size: 13px;
  border: 1px;
  padding: 0;
}
/* line 60, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.cart-items td span.line_item_quantity .line_item_quantity {
  display: inline-block;
  width: 18px;
}
/* line 65, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.cart-items td .total-price {
  color: #d9198e;
}
/* line 69, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.cart-items td:first-child {
  padding-top: .5em;
}
/* line 72, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.cart-items td:last-child {
  padding-bottom: .5em;
}
/* line 76, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.cart-items th, .cart-items td {
  text-align: left;
  display: table-cell;
  padding: .25em .5em;
}

/* line 86, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.cart-total-price {
  float: right;
  padding-right: 30px;
  font-size: 23px;
  margin-bottom: 50px;
}
/* line 92, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.cart-total-price strong {
  color: #d9198e;
}

/* line 97, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.order-complete {
  float: right;
  margin-bottom: 50px;
}
/* line 100, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.order-complete .order-complete-btn {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  text-shadow: 0 1px 1px #d1d1d1;
  color: #ffffff;
  font-size: 18px;
  background: #d9198e;
  padding: 10px;
  border: solid #b4117a 1px;
  text-decoration: none;
}
/* line 113, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.order-complete .order-complete-btn:hover {
  background: #d967a3;
  text-decoration: none;
}

/* line 119, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.reg-sidebar {
  float: left;
  width: 200px;
  padding: 2px 0 0;
}
/* line 123, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.reg-sidebar ul {
  padding: 0;
}
/* line 127, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.reg-sidebar .sidemenu {
  font-weight: bold;
  color: #824cac;
  float: left;
  clear: both;
  margin: 0;
  padding: 5px 10px 15px 20px;
}
/* line 134, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.reg-sidebar .sidemenu a {
  font-weight: normal;
  color: #484848;
  text-decoration: none;
}
/* line 140, /home/alexey/RubymineProjects/HarmonyShop/app/assets/stylesheets/carts.scss */
.reg-sidebar .sidemenu a:hover {
  text-decoration: underline;
}
