<h3><%= @admin_size_helper.title %></h3>
<p><%= markdown(@admin_size_helper.body) %></p>
<%= link_to 'Edit', edit_admin_size_helper_path(@admin_size_helper) %> |
<%= link_to 'Back', admin_size_helpers_path %>
