<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @services_group.title %>
</p>

<%= link_to 'Edit', edit_services_group_path(@services_group) %> |
<%= link_to 'Back', services_groups_path %>
