<p>
  <strong>size:</strong><%= @admin_size.name %>
</p>
<p><strong>code:</strong><%= @admin_size.code %></p>
<%= link_to 'Edit', edit_admin_size_path(@admin_size) %> |
<%= link_to 'Back', admin_sizes_path %>
