/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_directory .
 *= require_self
 */
ul {
  list-style-type: none;
}
body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  margin: 0;

  a {
    color: #484848;
  }
  #page {
    margin: 0 auto;
    width: 1000px;
    min-height: 400px;
    background-color: #ffffff;

    #header {
      position: relative;
      overflow: hidden;
      width: 100%;
      background-color: #ffffff;
      ul {

        li {
          display: inline-block;
        }
      }
      a:hover {
        background: none;
        color: #000000;
        text-decoration: none;
      }

      #logo {
        float: left;
        width: 350px;
        height: 60px;
        margin: 15px 0 0 15px;
        cursor: pointer;
      }

      #search-block {
        float: left;


        margin: 15px 0 0 0;
        #search {
          border: 1px solid #dedede;
          border-radius: 3px;
          width: 200px;
          height: 24px;
          margin: 0;
          padding: 0 0 0 5px;
          font-size: 12px;
          background: #fff;
        }
        .submit-button {
          width: 16px;
          height: 16px;
        }
      }
      .phone {
        margin-left: 30px;
        float: left;
        font-size: 15px;
        color: #777;
        margin-top: 12px;
        img {
          float: left;
        }
        span {
          margin-top: 5px;
          float: left;
        }
      }

      #nav-bar {
        $radius: 8px;
        $skew: 15deg;
        position: absolute;
        left: 350px;
        top: 45px;

        ul {
          display:inline-block;
          margin:0;
          padding:0;
          list-style:none;

          .current a {
            color: #fff375;
          }

          li {
            background: #824cac;
            float: left;
            border-right:1px solid #ebd9ff;
            box-shadow:0 1px 1px rgba(0,0,0,0.1);
            text-transform:uppercase;
            color: #ffffff;
            font-weight:bolder;
            transition:all 0.1s linear;


            &:first-child{
              border-radius:$radius 0 0 $radius;
            }

            &:last-child{
              border-right:none;
              border-radius:0 $radius $radius 0;
            }
            &:hover{
              background: #a375d2;
            }

            a{
              display:block;
              padding:1em 2em;
              color:inherit;
              text-decoration:none;
            }
          }
        }


      }

      #basket-block {
        float: right;
        text-align: right;

        width: 250px;
        height: 100px;
        ul {
          margin-bottom: 3px;
        }
        #cart {
          .bag {
            display: inline-block;
            background: no-repeat image_url("bag.png");
            width: 30px;
            height: 30px;
            vertical-align: -6px;
          }
          a {
            text-decoration: none;
            margin-top: -5px;
            font-size: 22px;
          }
          strong:hover {
            border-bottom: 1px solid #484848 ;
          }
        }
      }

    br {
      clear: both;
    }

      #banner {
        width: 100%;
        height: 170px;
        padding: 0;
        border: 0;
      }
    }

    #content {
      min-height: 350px;
      width: 100%;
    }
  }
}
.footer-wrapper {
  padding-bottom: 20px;
  border-top: 2px solid #e1d9ff;
  background-color: rgba(252, 246, 255, 0.45);
  min-width: 1000px;
  .footer {
    margin: 0 auto;
    width: 1000px;
    height: 350px;
    overflow: hidden;
    .footer-nav {
      display: block;
      float: left;
      margin-top: 0;

      .subscribe {
        width: 300px;
        height: 100px;
        margin: 20px;
        background-color: #e8d5ff;
        border-radius: 5px;
      }

      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }

      >li {
        margin-left: 55px;
        width: 180px;
        float: left;
        h5 {
          margin: 15px 5px 0 0;
          font-size: 17px;
          display: block;
          width: 100%;
        }

        .services {
          padding: 5px;
          margin-left: 5px;
          display: block;
          height: 60px;

          li {
            line-height: 20px;
            display: list-item;
          }
        }
      }
    }

    .social {
      text-align: center;
      margin-top: 30px;
      .head {
        cursor: auto;
        font-size: 16px;
        color: #4c5058;
        font-weight: bold;
        width: 100%;
        background: none;
        border:none;
      }

      li {
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 20px;
        border: 1px solid #aa54e8;
        text-align: center;
        vertical-align: middle;
        line-height: 40px;
      }

    }
  }
}

.go-top {
  position:fixed;
  bottom: 2px;
  left:0px;
  background: rgba(255, 255, 255, 0);
  padding:20px;
  display:none;
  color: rgba(111, 70, 178, 0.64);
  cursor: pointer;
  height: 100%;
  opacity: 0.4;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  width:100px;
  &:hover {
    color: #570085;
    background-color: rgba(154, 74, 255, 0.27);
  }
  &:after {
    content: '▲';
    position: absolute;
    top:70px;
    left: 50px;
    font-size: 40px;
    font-weight:100;
  }
}


.fix {
  float:none;
  clear: both;
}

.registration_block {
  #flash_alert {
    color: #ff2348;
  }
  .form-actions {
    input {
      margin-top: 10px;
      border: 1px solid #6d2aa6;
      border-radius: 3px;
      width: 306px;
      height: 30px;
      cursor: pointer;

      padding: 0 0 0 5px;
      font-size: 15px;
      background: #752db0;
      color: #fff;
    }
  }
  float: right;
  width: 790px;
  .form-inputs {
    .input {
      margin-top: 10px;
      input {
        border: 1px solid #dedede;
        border-radius: 3px;
        width: 300px;
        height: 24px;
        margin: 0;
        padding: 0 0 0 5px;
        font-size: 15px;
        background: #fff;
      }
      .boolean {
          background-color: transparent;
          border: 0 none;
          cursor: pointer;
          height: auto;
          line-height: normal;
          margin: 3px;
          padding: 0;
          width: auto;
      }
      label {
        display: block;
      }
      .error {
        display: block;
        font-weight: bold;
        color: #752db0;
        margin-left: 10px;
      }
    }


  }

}
