// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-items {
  margin: 1em 0;
  min-width: 800px;
  tbody {
    border: 5px solid #9f5ecd;
  }
  img {
    float: left;
  }
  td {
    border-top: 1px solid #ddd;
    display: block;
    a {
      text-decoration: none;
    }
    .line_item_quantity{
      display: inline-block;
      width: 20px;
    }
    .plus {
      -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
      -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
      box-shadow:inset 0px 1px 0px 0px #ffffff;
      background-color:#ffffff;

      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border:1px solid #dcdcdc;
      display:inline-block;
      cursor:pointer;
      color:#666666;
      font-size:12px;
      font-weight:bold;
      padding:3px 9px;
      text-decoration:none;
    }

    .minus {
      -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
      -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
      box-shadow:inset 0px 1px 0px 0px #ffffff;
      background-color:#ffffff;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border:1px solid #dcdcdc;
      display:inline-block;
      cursor:pointer;
      color:#666666;
      font-size:12px;
      font-weight:bold;
      padding:3px 9px;
      text-decoration:none;
      margin-right: -4px;

    }
    input.quantity {

      display: inline-block;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      border-left: 0;
      border-right: 0;
      width: 24px;
      font-size:12px;
      padding:3px 1px;
    }
    .total-price {
      color: #d9198e;
    }

    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }
  }
  th, td {
    text-align: left;
    display: table-cell;
    padding: .25em .5em;

  }


}

.cart-total-price {
  float: right;
  padding-right: 30px;
  font-size: 23px;
  margin-bottom: 80px;

  strong {
    color: #d9198e;
  }
}