

h1 {
  margin: 5px 0;
  color: #824cac;
}
.bread-crumbs {
  a {
    color: #484848;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
}

.categories-wrapper {
  float: left;
  width: 800px;
}
.catalog-sidebar {
  float: left;
  width: 200px;
  padding: 2px 0 0;
  ul {
    padding: 0;
  }

  .sidemenu {
    float: left;
    clear: both;
    margin: 0;
    padding: 5px 10px 15px 20px;
    a {
      color: #484848;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    ul {
      padding: 3px 0 15px 0;
    }


    .current_category, .root {
      >a {
        font-weight: bold;
        color: #824cac;
      }

    }

    .parent_category {
      >a {
        font-weight: bold;
        color: inherit;
      }
    }
  }
}
