// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-item {
  line-height: 50px;
  height: 40px;
  border-radius: 3px;
  border-bottom: 1px solid #d1d1d1;
  font-size: 14px;
  a {
    color: #8732c8;
    &:hover {
      text-decoration: none;
    }
  }

  span {
    margin-left: 220px;
  }
}