<% if defined? @current_category %>

  <% if category == @current_category %>
    <li class="current_category">>
  <% elsif category.is_ancestor_of? @current_category %>
    <li class="parent_category">
  <% else %>
    <li class="root">
  <% end %>
<% else %>
    <li class="root">
<% end %>

  <%= link_to category.name, category %>
  <ul>
    <% for child in category.children do %>
      <% if defined?(@current_category) && child == @current_category %>
        <li class="current_category">>
      <% else %>
        <li>
      <% end %>
        <%= link_to child.name, child %>
      </li>
    <% end %>
  </ul>
</li>
