<%= content_tag :ul, class: "sidemenu" do -%>
    <% for category in @roots %>
    <li>
          <%= link_to category.name, category, class: "root" %>
      <ul>
        <% for child in category.children do %>
            <li>
                  <%= link_to child.name, child %>
            </li>
        <% end %>
      </ul>
    </li>
        <% end %>
<% end -%>