<p id="notice"><%= notice %></p>
<div class="catalog-sidebar">
  <ul class="sidemenu">
    <%=  render @roots  %>
  </ul>
</div>
<div class="categories-wrapper">

  <h1>Одежда для себя и семьи</h1>

  <div class="catalog">
      <%= render @products %>
  </div>

</div>

<div class="fix"></div>
