<p>Магазин Гармония</p>
<p>Здравствуйте <%= @resource.email %>!</p>

<p>Ваш акканут был заблокирован</p>

<p>Пройдите по ссылке, пожалуйста, чтобы разблокировать</p>

<p><%= link_to 'Разблокировать', unlock_url(@resource, unlock_token: @token) %></p>
