<div class="modal">
  <div class="overlay">
    <div class="modal-content">
      <div class="message">
        Пожалуйста, выберите размер перед тем как добавить товар в корзину.
      </div>
      <a href="#" class="error-ok">Ok</a>

    </div>
  </div>
</div>